


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kristi", cursive;
  }

  


  html {
    font-size: 62.5%;
  }


  .center_div {
    min-width: 50vw;
    height: 40vh;
    color: rgb(0, 255, 42);
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align:center;
  }

@media (max-width: 768px) {
    html {
      font-size: 35%;
    }
  }

.kilig img{
    width: 200px;
}

.kilig{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3em;
}

body{
    
    background: #0b1522;
}

.crush{
    font-size: 15px;
    margin-bottom: 2em;
    font-weight: bold;
    color: rgb(0, 255, 42);
}